<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/login.css">

   
    <title>Reset Password</title>
  </head>
  <body>

    <form action="/reset_password/<%= token %>" method="POST" class="signup-form" >
      <% if (error && error.length > 0) { %>
        <div class="error">
          <%= error.join('<br>') %>
        </div>
      <% } %>
    

      <h1>Enter New Password</h1>
        
        <label for="newPassword">New Password</label>
        <input type="password" id ="newPassword" placeholder="Enter new Password" name="newPassword" required/>
        
        
        <button type="submit">Sign up</button>
        
      </form>
      
     
  </body>
</html>
